.table-wrapper {
  width: 100%;
}

.header-with-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  cursor: pointer;
  font-size: 16px;
  color: #999;
  margin-left: 5px;
}

.cell-content {
  cursor: pointer;
  padding: 5px;
}

.status-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status-success {
  background-color: #67c23a;
}

.status-warning {
  background-color: #e6a23c;
}

.status-danger {
  background-color: #f56c6c;
}

.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:deep(.el-pagination) {
  justify-content: center;
}

:deep(.el-table__body-wrapper) {
  overflow-y: auto !important;
  max-height: 450px;
}

:deep(.el-table .el-table__cell) {
  padding: 0;
}
:deep(.el-table .cell) {
  padding: 0;
  display: flex;
  align-items: center;
}

:deep(.cell-content .el-button) {
  padding: 3px;
  height: fit-content;
}
.padeDiv{
  margin-top: 20px;
}
.custom-table .el-tag__content{
  font-size: 12px;
}
.cell-content{
  .black-button{
    font-size: 14px;
    padding: 5px 12px;
  }
}
.table-progress-div{
  display: flex;
  flex-direction: column;
  gap: 2px;
  p{
    line-height: 1;
    text-align: left;
  }
  .table-progress-bar{

  }
}