.detail-card {
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #e7e7e7;
  cursor: pointer;
  position: relative;
  &:hover{
    background-color: var(--el-color-primary);
    .title, .date, .author{
      color: var(--color-white);
    }
  }
}
.card-chk{
  display: flex;
  align-items: center;
  gap: 5px;
}
.card-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.tags {
  display: flex;
  gap: 5px;
}
.dot {
  font-size: 12px;
  padding: 0;
  width: 10px;
  height: 10px;
}
.info {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
  display: flex;
  gap: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.subtitle {
  font-size: 13px;
  color: #888;
}
.info .danger {
  color: red;
}
.footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #666;
  text-align: right;
  position: absolute;
  right: 12px;
  bottom: 8px;
}
.date{
  margin-bottom: 3px;
}
:deep(.el-card__body){
  padding: 8px 12px;
}