.tag-container {
  display: flex;
  gap: 8px;
  margin-top: 5px;
}

.upload-container {
  width: 100%;
}

.upload-text {
  color: #409eff;
  cursor: pointer;
}

.upload-hint {
  font-size: 12px;
  color: gray;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.dialog-footer.space{
  justify-content: space-between;
  width: 100%;
}

.modal-body {
  max-height: 70vh;
  padding-right: 10px;
}