.tag-container {
  display: flex;
  gap: 8px;
  margin-top: 5px;
}

.upload-container {
  width: 100%;
}

.upload-text {
  color: #409eff;
  cursor: pointer;
}

.upload-hint {
  font-size: 12px;
  color: gray;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.dialog-footer.space{
  justify-content: space-between;
  width: 100%;
}

.modal-body {
  max-height: 70vh;
  padding-right: 10px;
}
.modal-body.not-scroll {
  padding-right: 0;
}

.status-div{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 24px;
}
.status-div p{
  display: flex;
  align-items: center;
  gap: 7px;
}
.succes-icon{
  color: #4CAF50;
}
.fail-icon{
  color: #D32F2F;
}
.black-table{
  width: 100%;
  border-spacing: 0;
}
.black-table thead{
  background-color: #1A1A1A;
}
.black-table th{
  border: none;
  color: #fff;
  padding: 9px 12px;
  border-right: 1px solid #DCDFE6;
}
.black-table th.first{
  border-top-left-radius: 8px;
}
.black-table th.last{
  border-right: none;
  border-top-right-radius: 8px;
}
.black-table td{
  padding: 9px 12px;
  border-right: 1px solid #DCDFE6;
  border-bottom: 1px solid #DCDFE6;
}
.black-table td.first{
  border-left: 1px solid #DCDFE6;
  border-bottom-left-radius: 8px;
}
.black-table td.last{
  border-bottom-right-radius: 8px;
}
.subtitle {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #DCDFE6;
}

.input-round-box{
  width: 100%;
  border: 1px solid #DCDFE6;
  padding: 20px;
  border-radius: 20px;
}
.info-use-group{
  display: flex ;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}