.compliance-container {
  flex: 1;
}

/* 필터 헤더 */
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.filter-actions {
  display: flex;
  gap: 10px;
}

/* 카테고리 선택 */
.category-select {
  width: 150px;
}

/* 카테고리 추가 버튼 */
.category-add {
  background-color: black;
  color: white;
}
:deep(.custom-tabs > .el-tabs__header) {
  margin: 0 !important;
  border-bottom: 1px solid #CDD0D6;
}
:deep(.filter-header) {
  border-bottom: 1px solid #CDD0D6;
}
:deep(.custom-tabs .el-tabs__header .el-tabs__item:hover) {
  color: #000 !important; /* 마우스 오버 시 검정색 */
}
:deep(.custom-tabs .el-tabs__header .el-tabs__item) {
  font-weight: bold !important;
}
:deep(.custom-tabs .el-tabs__item.is-active, .el-tabs__item:hover) {
  color: #000 !important;
}
:deep(.custom-tabs .el-tabs__active-bar){
  background-color: #000 !important;
}