.content-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.tree-container {
  max-height: 600px;
  padding-right: 10px;
}
.data-list {
  background: #fff;
  padding: 25px 15px;
  border-radius: 8px;
  height: 100%;
}
.data-details {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px !important;
  border-radius: 8px;
  height: 100%;
  overflow-x: hidden;
}
.responsive-row {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}
.responsive-row-inner{
  flex: 1;

}
@media screen and (max-width: 600px) {
  .responsive-row-inner {
    height: fit-content;
    gap: 20px;
  }
}
.black-button {
  background-color: #000 !important;
  color: #fff !important;
  border: none !important;
}
.black-button .el-icon {
  color: #fff !important;
}
.white-button {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #000 !important;
  margin-left: 0;
}
.add-policy-button {
  text-align: left;
  padding: 10px;
  font-size: 14px;
  color: #8c8c8c; /* 연한 회색 */
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.category-slider {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.scroll-container {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-wrap {
  display: flex;
  align-items: center;
}

.scroll-content {
  display: flex;
}

.category-item {
  background: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
}

.category-item:hover {
  background: #e0e0e0;
}

.scroll-btn {
  background: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 9px 5px;
}

.scroll-btn:hover {
  background: #f0f0f0;
}

.left-btn {
  margin-right: 5px;
}

.right-btn {
  margin-left: 5px;
}

.add-btn {
  background: #000;
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
}

.add-btn:hover {
  background: #333;
}