.content-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.tree-container {
  max-height: 600px;
  padding-right: 10px;
}
.data-list {
  background: #fff;
  padding: 25px 15px;
  border-radius: 8px;
  height: 100%;
}
.data-details {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px !important;
  border-radius: 8px;
  height: 100%;
}
.responsive-row {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}
.responsive-row-inner{
  flex: 1;

}
@media screen and (max-width: 600px) {
  .responsive-row-inner {
    height: fit-content;
    gap: 20px;
  }
}
.black-button {
  background-color: #000 !important;
  color: #fff !important;
  border: none !important;
}
.black-button .el-icon {
  color: #fff !important;
}
.white-button {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #000 !important;
  margin-left: 0;
}
.add-policy-button {
  text-align: left;
  padding: 10px;
  font-size: 14px;
  color: #8c8c8c; /* 연한 회색 */
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.add-policy-button:hover {
  color: #000; /* 마우스 오버 시 검정색 */
}
.custom-tabs .el-tabs__header .el-tabs__item {
  font-weight: bold !important;
}
.custom-tabs .el-tabs__item.is-active, .el-tabs__item:hover {
  color: #000 !important;
}
.custom-tabs .el-tabs__active-bar{
  background-color: #000 !important;
}