.sidebar {
  border-right: 1px solid var(--el-menu-border-color);
  position: relative;
}
.toggle-btn{
  position: absolute;
  right: -16px;
  z-index: 999;
}
.sidebar-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  position: relative;
}
.menu-container {
  border-right: none;
  overflow: hidden;
}
.resizer {
  width: 2px;
  height: 100%;
  background: #ccc;
  position: absolute;
  right: 0;
  top: 0;
  cursor: ew-resize;
}
.sidebar {
  border-right: 1px solid var(--el-menu-border-color);
  position: relative;
}
.sidebar .el-menu-item,
.sidebar .el-sub-menu__title {
  font-weight: 900 !important;
}
.sidebar .el-menu-item.is-active{
  color: #000;
}
.toggle-btn{
  position: absolute;
  right: -16px;
  z-index: 999;
}
.sidebar-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  position: relative;
}
.menu-container {
  border-right: none;
  overflow: hidden;
}
.resizer {
  width: 2px;
  height: 100%;
  background: #ccc;
  position: absolute;
  right: 0;
  top: 0;
  cursor: ew-resize;
}
.el-aside.sidebar{
  overflow: visible !important;
}
.sidebar-scroll.el-scrollbar{
  overflow: visible !important;
}
.sidebar-scroll.el-scrollbar .el-aside.sidebar{
  overflow: visible !important;
}
.sidebar-scroll.el-scrollbar .el-scrollbar__wrap--hidden-default{
  overflow: visible !important;
}