@font-face {
  font-family: 'YouandiModern';
  src: url('@/assets/fonts/YouandiModernTR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'YouandiModern', sans-serif;
}

body{
  max-height: 100vh;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

#app{
  max-height: 100vh;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.w-100{
  width: 100%;
}
.custom-message-top {
  top: 20px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.custom-message-bottom {
  bottom: 20px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.custom-message-left {
  top: 50% !important;
  left: 20px !important;
  transform: translateY(-50%) !important;
}

.custom-message-right {
  top: 50% !important;
  right: 20px !important;
  transform: translateY(-50%) !important;
}

.custom-message-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.el-button--text {
  padding-left: 10px;
  padding-right: 10px;
}
/* 모달 내부 스크롤 지원 */
.modal-body {
  max-height: 70vh;
  padding-right: 10px;
}
.custom-message-max-zindex {
  z-index: 9999 !important;
}
.black-button {
  background-color: #000 !important;
  color: #fff !important;
  border: none !important;
}
.el-dialog.custom-dialog{
  padding: 20px;
  border-radius: 10px;
}
.no-x-scroll.el-scrollbar .el-scrollbar__wrap {
  overflow-x: hidden !important;
}
.el-scrollbar__wrap {
  box-sizing: border-box;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
/* .el-row{
  margin-left: 0 !important;
  margin-right: 0 !important;
} */
 .list-warpper-500{
  overflow-y: auto; /* 스크롤 추가 */
  max-height: 500px;
 }
 .flex-space{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
