@charset 'UTF-8';
/*
폰트
*/

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~@/assets/fonts/noto-sans/Noto-Sans-KR-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('~@/assets/fonts/noto-sans/Noto-Sans-KR-Regular.woff') format('woff'), /* Modern Browsers */
    url('~@/assets/fonts/noto-sans/Noto-Sans-KR-Regular.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~@/assets/fonts/noto-sans/Noto-Sans-KR-700.woff2') format('woff2'), /* Modern Browsers */
    url('~@/assets/fonts/noto-sans/Noto-Sans-KR-700.woff') format('woff'), /* Modern Browsers */
    url('~@/assets/fonts/noto-sans/Noto-Sans-KR-700.ttf') format('truetype') /* Safari, Android, iOS */
}

// @font-face {
//   font-family: 'YouandiModernTR';
//   font-style: normal;
//   font-weight: 400;
//   src: url('~@/assets/fonts/youandi/YouandiModernTR.eot') format('embedded-opentype'),
//        url('~@/assets/fonts/youandi/YouandiModernTR.woff') format('woff'),
//        url('~@/assets/fonts/youandi/fontYouandiModernTR.ttf') format('opentype');
// }

/* YouAndiNewKr */
@font-face {
  font-family:'YouandiNewKr';
  font-style:normal;
  font-weight:300;
  src:url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Light.eot'); /* IE9 Compat Modes */
  src:url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Light.eot?#iefix') format('embedded-opentype'), /* IE6 ~ IE8 */
  url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Light.woff2') format('woff2'), /* Supper Modern Browsers */
  url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Light.woff') format('woff'); /* Modern Browsers */
  /* url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Light.ttf') format('truetype'), */
  // url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Light.svg') format('svg');
}
@font-face {
  font-family:'YouandiNewKr';
  font-style:normal;
  font-weight:400;
  src:url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Regular.eot');
  src:url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Regular.eot#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Regular.woff2') format('woff2'),
  url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Regular.woff') format('woff');
  /* url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Regular.ttf') format('truetype'), */
  // url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Regular.svg') format('svg');
}
@font-face {
  font-family:'YouandiNewKr';
  font-style:normal;
  font-weight:700;
  src:url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Bold.eot');
  src:url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Bold.eot#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Bold.woff2') format('woff2'),
  url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Bold.woff') format('woff');
  /* url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Bold.ttf') format('truetype'), */
  // url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-Bold.svg') format('svg');
}
@font-face {
  font-family:'YouandiNewKr';
  font-style:normal;
  font-weight:800;
  src:url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-ExtraBold.eot');
  src:url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-ExtraBold.eot#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-ExtraBold.woff2') format('woff2'),
  url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-ExtraBold.woff') format('woff');
  /* url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-ExtraBold.ttf') format('truetype'), */
  // url('~@/assets/fonts/youandi-new/YouandiNewKrTitle-ExtraBold.svg') format('svg');
}


// @font-face {
//   font-family: 'Nanum Gothic';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url('~@/assets/fonts/nanum-gothic/Nanum-Gothic-Regular.woff2') format('woff2'), /* Modern Browsers */
//     url('~@/assets/fonts/nanum-gothic/Nanum-Gothic-Regular.woff') format('woff'), /* Modern Browsers */
//     url('~@/assets/fonts/nanum-gothic/Nanum-Gothic-Regular.ttf') format('truetype') /* Safari, Android, iOS */
// }

// @font-face {
//   font-family: 'Nanum Gothic';
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src: url('~@/assets/fonts/nanum-gothic/Nanum-Gothic-700.woff2') format('woff2'), /* Modern Browsers */
//     url('~@/assets/fonts/nanum-gothic/Nanum-Gothic-700.woff') format('woff'), /* Modern Browsers */
//     url('~@/assets/fonts/nanum-gothic/Nanum-Gothic-700.ttf') format('truetype') /* Safari, Android, iOS */
// }
